.followerList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    grid-area: Followers;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.follower {
    display: flex;
    flex-direction: column;
    background: var(--bg-light);

    padding: .4rem;
    border-radius: .2rem;
    gap: .6rem;
}