:root {
  --bg: #0E0E10;
  --bg-primary: #1F1F23;
  --bg-secondary: #38383b;
  --bg-light: #454547;
  --text: #FFFFFF;
  --primary: #9147FF;
  --primary-dark: #7c3eda;
  --live: #E81916;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

a, button, input {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

a {
  &:hover {
    text-decoration: underline 2px;
  }
}
